*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.pyc
packages

# YARD artifacts
.yardoc
_yardoc
doc/

.idea/
iron.json

hello*.zip
java/index.html
scala/output.txt
mono/*.exe
